<footer id="footer">
  <div class="container">
    <div class="col-md-10 offset-md-1">
      <div class="footer-intro row">
        <div class="footer-title col-md-12">
          <h3>Colophon</h3>
        </div>
      </div>
      <div class="footer-inner row">
        <div class="footer-details col-md-6">
          {% for category in site.data.footer %}
            <div class="category-block">
              {% if category.title %}
                <span class="category-title">{{category.title}}</span>
              {% endif %}
              {{category.content | markdownify }}
            </div>
          {% endfor %}
        </div>
        <div class="footer-links col-md-3 offset-md-3">
          <ul class="links">
            <li class="support_us"><a href="https://www.patreon.com/scragend" target="_blank">Support Us</a></li>
            <li><a href="https://www.facebook.com/scragend/" target="_blank">Facebook</a></li>
            <li><a href="https://www.instagram.com/scragendjournal/" target="_blank">Instagram</a></li>
            <li><a href="https://twitter.com/scrag_end" target="_blank">Twitter</a></li>
            <li><a href="https://vimeo.com/scragend" target="_blank">Vimeo</a></li>
          </ul>
          <div class="misc">
            <div class="logo"><img src="/assets/images/scrag-logo.svg" alt="Scrag End Logo"></div>
            <a href="#" class="top-scroll">Back to top</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-viewport-checker/1.8.8/jquery.viewportchecker.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/15.2.1/smooth-scroll.min.js" type="text/javascript"></script>
<script src="/scripts/main.js" type="text/javascript"></script>