<div class="story-footer">
  <progress value="0" id="progressBar">
  </progress>
  <div class="container story-footer-inner">

    {% assign pages = site.pages %}

    {% for story in pages %}
      {% if story.categories contains 'story' %}
        {% if story.url == page.url %}
            {% assign post_index0 = forloop.index0 %}
            {% assign post_index1 = forloop.index %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% for story in pages %}
      {% if story.categories contains 'story' %}
        {% if post_index1 == forloop.index0 %}
            {% assign prev_post = story.url %}
            <a href="{{ prev_post }}" class="text-link previous">Previous story</a>
        {% endif %}
        {% if post_index0 == forloop.index %}
            {% assign next_post = story.url %}
            <a href="{{ next_post }}" class="text-link next">Next story</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- TODO// Have the previous link always on the left if there is only one link -->
    <!-- TODO// If no next or previous link get the first link in the loop -->

  </div>
</div>
