<div class="story-footer">
  <progress value="0" id="progressBar">
  </progress>
  <div class="container story-footer-inner">
    <div class="previous-article">

    </div>
    <div class="next-article">

    </div>
  </div>
</div>
