<section class="container wide-image-block vertical-spaced animation-set">
  <div class="row">
    <div class="wide-image-block-inner col-md-10 offset-md-1 animated animated--no-slide-up">
      <img src="https:{{module.image.url}}" alt="{{ module.image.title}}" />
      {% if module.image.caption %}
        <p class="caption">{{ module.image.caption}}</p>
      {% endif %}
    </div>
  </div>
</section>
